.padding-0 { padding: 0 }
.padding-1 { padding: 1rem }
.padding-2 { padding: 2rem }
.padding-3 { padding: 3rem }

.padding-top-0 { padding-top: 0 }
.padding-top-1 { padding-top: 1rem }
.padding-top-2 { padding-top: 2rem }
.padding-top-3 { padding-top: 3rem }

.padding-bottom-0 { padding-bottom: 0 }
.padding-bottom-1 { padding-bottom: 1rem }
.padding-bottom-2 { padding-bottom: 2rem }
.padding-bottom-3 { padding-bottom: 3rem }

.margin-0 { margin: 0 }
.margin-1 { margin: 1rem }
.margin-2 { margin: 2rem }
.margin-3 { margin: 3rem }

.margin-top-0 { margin-top: 0 }
.margin-top-1 { margin-top: 1rem }
.margin-top-2 { margin-top: 2rem }
.margin-top-3 { margin-top: 3rem }

.margin-bottom-0 { margin-bottom: 0 }
.margin-bottom-1 { margin-bottom: 1rem }
.margin-bottom-2 { margin-bottom: 2rem }
.margin-bottom-3 { margin-bottom: 3rem }

.primary {
  color: #f3901d;
}

.secondary {
  color: #00447c;
}




.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/ipswich-christian-fellowship-evangelical-church.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  height: 40vh;
  max-height: 600px;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0.7;
}

.header__bar {
  display: none;
  color: #ffffff;
  background-color: #00447c;
  padding: 1rem 0;
}

.header__bar-content {
  display: flex;
  align-items: row;
  justify-content: space-between;
}

.header__bar-content p {
  margin-bottom: 0;
  text-align: right;
}

.header__title {
  width: 100%;
  max-width: 700px;
  z-index: 20;
}

.header__link {
  display: flex;
  align-items: center;
  z-index: 20;
  margin-top: 1rem;
  color: #00447c;
  font-weight: 500;
}

.header__link:hover,
.header__link:visited,
.header__link:active,
.header__link:focus {
  color: #00447c;
}

.header__icon {
  width: 25px;
  margin-right: 10px;
}

.map {
  width: 100%;
  height: 50vh;
  display: block;
}

.gallery {
  margin: -10px;
}

.gallery__item {
  padding: 10px;
  width: 100%;
}

.gallery__photo {
  width: 100%;
}

.footer {
  text-align: center;
}

.footer__address-section-container {
  color: #ffffff;
  background-color: #00447c;
  padding: 3rem 0;
}

.footer__address-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__services {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.footer__services li p {
  margin-bottom: 0;
}

.footer__links-section-container {
  color: #00447c; 
  padding: 3rem 0;
}

.footer__links-section-container a {
  color: #00447c;
}

.footer__links-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.8rem;
}

.footer__copyright {
  margin-bottom: 1rem;
}

.footer__link {
  display: flex;
  align-items: center;
}

.footer__link:hover,
.footer__link:visited,
.footer__link:active,
.footer__link:focus {
  color: #00447c;
}

.footer__icon {
  width: 25px;
  margin-right: 10px;
}

@media screen and (min-width: 650px) {
  .header {
    background-position-y: center;
    height: 50vh;
  }
}

@media screen and (min-width: 678px) {
  .margin-top-medium-0 { margin-top: 0 }
  .margin-top-medium-1 { margin-top: 1rem }
  .margin-top-medium-2 { margin-top: 2rem }
  .margin-top-medium-3 { margin-top: 3rem }

  .margin-bottom-medium-0 { margin-bottom: 0 }
  .margin-bottom-medium-1 { margin-bottom: 1rem }
  .margin-bottom-medium-2 { margin-bottom: 2rem }
  .margin-bottom-medium-3 { margin-bottom: 3rem }

  .header__link {
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  .header__icon {
    width: 30px;
  }

  .map {
    height: 400px;
  }

  .footer__links-section {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__copyright {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 900px) {
  .header {
    height: 70vh;
  }
}

@media screen and (min-width: 950px) {
  .header {
    height: 70vh;
  }

  .header__bar {
    display: block;
  }

  .footer__address-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__services {
    text-align: right;
    margin-left: 4rem;
    font-size: inherit;
  }

  .footer__links-section {
    font-size: inherit;
  }
}